<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Voluntario</title>
    <meta charset="UTF-8" />
    <link type="text/css" th:href="@{/css/estilosAdd.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <a href="/" ><img src="/imagenes/logo.jpeg" alt="Logo" width="100" height="100"> </a>
    <div class="loggeduser" th:insert="~{/fragments/logininfo :: loginInfo}"></div>
</nav>

<div class="content-container form-container">
    <h2>Nuevo Voluntario</h2>

    <form action="#" th:action="@{/voluntario/add}" th:object="${voluntario}" method="post">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" th:field="*{nombre}" />
            <div class="error-message" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
        </div>

        <div class="form-group">
            <label for="fecha_nacimiento">Fecha Nacimiento:</label>
            <input type="date" id="fecha_nacimiento" th:field="*{fecha_nacimiento}" />
            <div class="error-message" th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}"></div>
        </div>

        <div class="form-group">
            <label for="genero">Género:</label>
            <select id="genero" th:field="*{genero}">
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}"/>
            <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-actions">
            <button type="submit" class="botones">Añadir Voluntario</button>
            <a href="/" class="botones">Volver</a>
        </div>
    </form>
</div>
</body>
</html>