<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <!-- app css  -->
<link type="text/css" th:href="@{/css/estilos.css}" href="/css/estilos.css"
          rel="stylesheet"/>
    <title layout:title-pattern="$CONTENT_TITLE">Club de natació</title>
</head>

<body class="container">
<header class="page-header">
</header>
<div th:replace="fragments/nav"></div>
<div th:replace="fragments/logininfo"></div>
<div layout:fragment="content"></div>
<footer>
    <hr>
    <p class="text-muted">Mejores carreras de montaña de España</p>
</footer>
</body>
</html>
