html {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #0A0F1F;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/fondo.png');
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.loggeduser {
    font-size: 24px;
}

form {
    background-color: black;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    max-width: 500px;
}

h2 {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #1F2533;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #2DE0C2;
    color: black;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4DE2DB;
}

a {
    font-size: 14px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.navbar {
    background-color: #0A0F1F;
    padding: 10px 20px;
}

.navbar-brand {
    color: #2DE0C2;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
    border-radius: 50%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #2DE0C2;
}

.form-control {
    border-radius: 50px;
    border: 2px solid #1F2533;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #2DE0C2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}

button:hover {
    background-color: #4DE2DB;
}

.btn-sm {
    padding: 3px 8px;
    font-size: 0.8rem;
}

.logo {
    width: 200px;
    height: auto;
}

nav {
    background-color: #003366;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: #00b4d8;
}

.btn {
    font-weight: bold;
}