<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Puntos de control</title>
    <link type="text/css" th:href="@{/css/estilosListas.css}" href="/css/estilosListas.css"
          rel="stylesheet"/>
</head>
<body>
<nav>
    <a href="/" ><img src="/imagenes/logo.jpeg" alt="Logo" width="100" height="100"> </a>
    <div class="loggeduser" th:insert="~{/fragments/logininfo :: loginInfo}"></div>
</nav>
<!-- Solo visible para promotores -->
<div class="content-container">

<div class="lista"><h1>Puntos de control</h1></div>
<div class="lista"><h2><td th:text="${nombre_carrera}"></td></h2></div>
<table>
    <tr>
        <td>Nombre Punto de Control</td>

    </tr>
    <tr th:each="puntoControl : ${puntosControl}">
        <td th:text="${puntoControl.nombrePuntoControl}">Nombre</td>
        <td> <input type="hidden" th:value="${puntoControl.idPuntoControl}"/></td>

        <td>
            <span >
                <a th:href="@{/registroTiempo/list/{idPuntoControl}(idPuntoControl=${puntoControl.idPuntoControl})}" class="botones">Tiempos</a>
            </span>
        </td>

        <td th:if="${session.usuario != null and session.usuario.tipo == 'promotor'}">
            <a th:href="@{/puntoControl/update/{idPuntoControl}(idPuntoControl=${puntoControl.idPuntoControl})}" class="botones">Editar</a>
        </td>
        <td th:if="${session.usuario != null and session.usuario.tipo == 'promotor'}">
            <a th:href="@{/puntoControl/delete/{idPuntoControl}(idPuntoControl=${puntoControl.idPuntoControl})}" class="botones">Borrar</a>
        </td>

    </tr>
</table>
<div th:if="${session.usuario != null and session.usuario.tipo == 'promotor'}">
    <a th:href="@{/puntoControl/add/{id}(id=${idCarrera})}" class="botones">Crear nuevo punto control</a>
</div>
<div class="lista">
    <a th:href="@{/carrera/list/{id}(id=${idCompeticion})}" class="botones">Volver a la lista de carreras</a>
</div>
</div>
</body>
</html>
